<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Arthor: <%=name %></h2>
    <h2>Company: <%=company %></h2>
    <h2>Location: <%=location %></h2>
  </body>
</html>